<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>Your_Bundle_Identifier</string>

    <key>GIDClientID</key>
    <string>YOUR_GOOGLE_CLIENT_ID</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>Your_Bundle_Identifier</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.YOUR_GOOGLE_CLIENT_ID</string>
            </array>
        </dict>
    </array>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Mình cần vị trí của bạn để hiển thị thời tiết địa phương.</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Ứng dụng cần truy cập kho ảnh để bạn được chọn hình ảnh.</string>
    
    <key>NSPhotoLibraryAdditionsUsageDescription</key>
    <string>Ứng dụng cần lưu ảnh vào kho ảnh của bạn để được lưu trữ hình ảnh.</string>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
</dict>
</plist>
